* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}
body{
    
    background: url(./img/bg\ logo-3.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     color: white;
     background-attachment: fixed;
    }
    a{
        font-size: 30px;
    }